{% extends "layout.html" %}

{% block content %}
<div class="row">
	<div class="col s8">
		<nav>
			<div class="nav-wrapper green">
				<span class="brand-logo center">Choose a new password</span>
			</div>
		</nav>
		<div class="card-panel">
			<form class="ui form" action="{{ url_for('userfe.reset', token=token) }}" method="post">
				{{ m.render_field(form.password) }}
				{{ m.render_field(form.confirm) }}
				{{ form.csrf_token }}
				<button class="btn red" type="submit">Confirm</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}